$color-white = #ffffff

$color-backgroud = rgba(7, 17, 27, 1)
$color-backgroud-s = rgba(7, 17, 27, .8)
$color-backgroud-ss = rgba(7, 17, 27, .5)
$color-backgroud-sss = rgba(7, 17, 27, .2)
$color-backgroud-ssss = #f3f5f7