var pxWindowWidth = 0,
  startX = 0, // 鼠标按下的X坐标
  translateX = 0, // 最终X的坐标
  startPoint = null, // 鼠标按下的实例
  seconds = '' // transition的秒数

function touchstart(e, ins) {
  startPoint = e.changedTouches[0] || e.touches[0]
  startX = translateX;
  ins.selectComponent('.mySwiperList').setStyle({
    transition: '' + seconds + '',
    transform: 'translateX(' + translateX + 'rpx) translateZ(0rpx)'
  })

  var data = {
    windowWidth: e.target.dataset.width
  }
  pxWindowWidth = data.windowWidth

  return false
}
function touchmove(e, ins) {
  var diffX = 0;
  var nowPoint = e.changedTouches[0];

  if (startPoint) {
    diffX = (nowPoint.pageX - startPoint.pageX) * getRpx(pxWindowWidth)
  }

  translateX = startX + diffX
  ins.selectComponent('.mySwiperList').setStyle({
    transform: 'translateX(' + translateX + 'rpx) translateZ(0rpx)'
  })


  return false
}
function touchend(e, ins) {
  var data = {
    len: e.target.dataset.len,
    tab: e.target.dataset.tab
  }
  var rpxWindowWidth = pxWindowWidth * getRpx(pxWindowWidth)

  // 获取手指停止时的X
  translateX = Math.min(0, translateX) // 第一个不能往左滑
  translateX = Math.max(-rpxWindowWidth * (data.len - 1), translateX) // 最后一个不能往右滑
  var num = Math.round(-translateX / rpxWindowWidth)
  seconds = '.3s'
  translateX = -num * rpxWindowWidth
  ins.selectComponent('.mySwiperList').setStyle({
    transition: '' + seconds + '',
    transform: 'translateX(' + translateX + 'rpx) translateZ(0rpx)'
  })



  return false
}

function getRpx(windowWidth) {
  return 750 / windowWidth
}
module.exports = {
  touchstart: touchstart,
  touchmove: touchmove,
  touchend: touchend
}