@themeColor: #64B5F6;
@white: #fff;
@black-8: rgba(0, 0, 0, .8);
@black-5: rgba(0, 0, 0, .5);
@black-3: rgba(0, 0, 0, .3);
@black-2: rgba(0, 0, 0, .2);
@black-1: rgba(0, 0, 0, .1);

@fontsize-large: 32rpx;
@fontsize-medium: 28rpx;
@fontsize-medium-x: 22rpx;
@fontsize-small: 14rpx;