*
  margin 0
  padding 0

html
  font-size 10px
  background url(https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3141987013,3980071064&fm=26&gp=0.jpg) bottom center
  background-size cover

body, html
  margin 0
  padding 0
  font-family sans-serif

.keys
  display flex
  flex 1
  min-height 100vh
  // background red
  align-items center
  justify-content center
  .key
    width 10rem
    border .4rem solid #000
    border-radius .5rem
    margin 1rem
    padding 1rem .5rem
    font-size 1.5rem
    transition all .07s ease
    text-align center
    color white
    background-color rgba(0, 0, 0, .4)
    text-shadow 0 0 .5rem #000
    div
      font-size 4rem
    .sound
      font-size 1.2rem
      // 文本大写
      text-transform uppercase
      // 字符间距
      letter-spacing .1rem
      color #ffc600

