<!-- ejs: html+js -->
<%- include('header', {type: 'signin'}) %>
<div class="container">
  <form action="" class="form create" method="post">
    <div class="">
      <label for="">用户名:</label>
      <input type="text" placeholder="用户名" name="name">
    </div>
    <div class="">
      <label for="">密码:</label>
      <input type="password" placeholder="用户名" name="password">
    </div>
    <div class="submit">登录</div>
  </form>
</div>

<script>
  $('.submit').click(function() {
    if ($('input[name=name]').val().trim() == '' || $('input[name=password]').val().trim() == '' ) {
      fade('请输入用户名或密码')
    } else {
      console.log($('.form').serialize());
    }
  })
</script>
<% include("footer") %>