@import "../../common/less/variable.less";

.tab {
  position: relative;

  height: 88rpx;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around;

  font-size: @fontsize-large-x;

  &-item {
    // height: 100%;
    line-height: 88rpx;
    text-align: center;
    flex: 1;
    -webkit-box-flex: 1;
  }

  &-line {
    justify-self: flex-start;
    position: absolute;
    bottom: 8rpx;
    z-index: 1;

    height: 6rpx;

    border-radius: 6rpx;
    background: linear-gradient(to right, #9ED5FA, #9ED5FA);
  }
}

.left {
  left: 0;
}
.right {
  right: 0
}
