@import "../../common/less/variable.less";

.tab {
  position: relative;

  height: 88rpx;

  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-around;

  font-size: @fontsize-large-x;

  &-item {
    // height: 100%;
    line-height: 88rpx;
    text-align: center;
    flex: 1;
    -webkit-box-flex: 1;
  }

  &-line {
    justify-self: flex-start;
    position: absolute;
    bottom: 15rpx;
    left: 0;
    z-index: 1;
    
    height: 6rpx;
    background-color: #ee0a24;
    border-radius: 6rpx;

    transition: .3s;
  }

  &Item.order {
    // border-bottom: 4rpx solid @themeColor2;
  }
}